.service__container {
  background-color: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: grid;
  grid-template-areas: "one two three";
  place-items: center;
}

.service__container:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.service {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}
